body {
    font-size: 1em;
    background-color: #f3f3f3 !important;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@radius: 55px;
@circumf: 3.1416 * @radius * 2;
@check-len: 75px;
@primary: #ff9d00;

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

video {
    border-radius: 10px;
}

span.primary,
strong.primary {
    color: @primary !important;
}

.company-logo {
    &:hover {
        img {
            opacity: 1;
        }
    }
    img {
        opacity: 0.6;
        transition: all 0.3s ease;
    }
}

label {
    &.ant-checkbox-group-item {
        margin-bottom: 10px;
    }

    &.ant-radio-wrapper {
        line-height: 2;
    }
}

.ant-dropdown {
    .ant-dropdown-menu {
        .ant-dropdown-menu-item {
            padding: 10px 20px;
        }
    }
}

.floating-container {
    position: sticky;
    top: 20px;
    left: 0;
}

#outline {
    animation: 0.38s ease-in outline;
    transform: rotate(0deg);
    transform-origin: center;
}

#white-circle {
    animation: 0.35s ease-in 0.35s forwards circle;
    transform: none;
    transform-origin: center;
}

#check {
    animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
    stroke-dasharray: 0, @check-len;
}

#check-group {
    animation: 0.32s ease-in-out 1.03s check-group;
    transform-origin: center;
}

@keyframes outline {
    from {
        stroke-dasharray: 0, @circumf;
    }
    to {
        stroke-dasharray: @circumf, @circumf;
    }
}

@keyframes check-group {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.09);
    }
    to {
        transform: scale(1);
    }
}

@keyframes check {
    from {
        stroke-dasharray: 0, @check-len;
    }
    to {
        stroke-dasharray: @check-len, @check-len;
    }
}

@keyframes circle {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

// Beamer

.embed.beamer_active .header {
    background: #ff9d00;
    &::before {
        background: none;
    }
}
