#person {
    opacity: 0;
    transform: translateY(300px);
    transform-origin: 434px 310px;
}

.chatSVG:hover #person {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms ease;
}

#chatbox {
    opacity: 0;
}

.chatSVG:hover #chatbox {
    opacity: 1;
    transition: all 1s ease;
    transform-origin: 761px 96px;
    animation: glow 800ms ease infinite alternate;
}

@-webkit-keyframes glow {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0.5;
        transform: translateY(-10px);
    }
}

#lines {
    animation: glow 900ms ease infinite alternate; 
}

#head {
    animation: bob-head 1s ease infinite alternate;
    transform-origin: 434px 225px;
}

@-webkit-keyframes bob-head {
    0% {
        transform: rotate(-5deg) translateY(0);
    }
    100% {
        transform: rotate(5deg) translateY(5px);
    }
}

.st0{opacity:.8}
.st2{fill:#fff}
.st3{fill:#f5f5f5}
.st9{fill:#e0e0e0}
.st10{fill:#ff9c00}
.st11{opacity:.1;enable-background:new}
.st12{fill:#fdb797}
.st13{fill:#333}
.st14{opacity:5.000000e-02;fill:none;stroke:#000;stroke-width:4;stroke-miterlimit:10;enable-background:new}