#lefthand {
    transform: rotate(0deg);
    transform-origin: 428px 249.6px;
    transition: all 300ms linear;
}

#righthand {
    transform: rotate(0deg);
    transform-origin: 344px 263.5px;
    transition: all 300ms linear;
}

.student:hover #lefthand {
    transform: rotate(-1deg);
}

.student:hover #righthand {
    transform: rotate(-3deg);
}

#head {
    animation: bob-head 1s ease infinite alternate;
}
@keyframes bob-head {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

#leaf {
    transform-origin: 90px 655px;
    animation: leaves 1s ease infinite alternate;
}

@keyframes leaves {
    0% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate (-3deg);
    }
}

#rightleg {
    transform: rotate(0deg);
    transform-origin: 355.5px 571px;
    transition: all 300ms linear;
}

.student:hover #rightleg {
    transform: rotate(3deg);
}

#steam {
    animation: steamy 1s ease infinite alternate;
}

@keyframes steamy {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(3px);
    }
}

.laptop {
    transform: skewX(0deg);
    transform-origin: 653.5px 328px;
    transition: all 300ms linear;
}
.student:hover .laptop {
    transform: skewX(-5deg);
}
